* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --graphite: #464646;
  --light-gray: #e9e9e9;
  --rose: #fd8c94;
}

body {
  background-color: darkgray;
  color: var(--graphite);
}

.modal {
  background-color: #ffffff;
  width: 350px;
  margin: 0 auto;
  position: relative;
}

.modal-container {
  padding: 37px 40px 45px 40px;
}

.confirm-modal__heading {
  font-family: "Prata", serif;
  font-size: 50px;
  letter-spacing: 10px;
  line-height: 1.32;
}

.confirm-modal__separator {
  display: flex;
  align-items: center;
}

.confirm-modal__separator > * {
  margin-right: 5px;
}

.dot-small {
  height: 9px;
  width: 9px;
  background-color: var(--light-gray);
  border-radius: 50%;
  display: inline-block;
}

.dot-large {
  height: 14px;
  width: 14px;
  background-color: var(--light-gray);
  border-radius: 50%;
  display: inline-block;
}

.separator__line {
  width: 100px;
  display: inline-block;
  border-bottom: 1px solid var(--light-gray);
}

.confirm-modal__paragraph {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.7px;
  margin: 24px 0 27px 0;
}

.confirm-modal__link {
  font-family: "PT Sans", sans-serif;
  display: inline-block;
  outline: 1px solid var(--rose);
  color: var(--rose);
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 3px;
  width: 100%;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.confirm-modal__link:hover {
  color: #ffffff;
  background-color: var(--rose);
}

.close-button {
  background-color: white;
  border: none;
  color: var(--light-gray);
  position: absolute;
  font-size: 26px;
  top: 12px;
  right: 18px;
  cursor: pointer;
}

.close-button:hover {
  color: var(--graphite);
}

@media (min-width: 800px) {
  .modal {
    width: 680px;
  }

  .modal-container {
    padding: 100px 80px 98.5px;
  }

  .confirm-modal__heading {
    font-size: 65px;
    letter-spacing: 13px;
    padding-top: 0;
    line-height: normal;
  }

  .confirm-modal__paragraph {
    line-height: normal;
    letter-spacing: 0.7px;
    margin: 19px 0 42px 0;
  }

  .confirm-modal__link {
    width: 99px;
    font-weight: bold;
    outline: none;
    border-bottom: 3px solid var(--rose);
    padding: 0;
    padding-bottom: 8.5px;
    
  }
  
  .confirm-modal__link:hover {
    color: var(--graphite);
    background-color: white;
    border-bottom: 3px solid var(--graphite);
  }

  .close-button {
    top: 14px;
    right: 22px;
  }
}
