/* =============== MOBILE STYLES =============== */

/* Universal Popup Styles -- mobile */
* {
  box-sizing: border-box;
  padding: 0;
}

:root {
  --graphite: #464646;
  --light-gray: #e9e9e9;
  --rose: #fd8c94;
}

p,
h1 {
  margin: 0;
}

.popup {
  background-color: #ffffff;
  max-width: 350px;
  position: relative;
  border: none;
  overflow: auto;
}

.popup::backdrop {
  background: #999999;
}

.close-button {
  background-color: white;
  border: none;
  color: var(--light-gray);
  position: absolute;
  font-size: 26px;
  top: 12px;
  right: 18px;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: var(--graphite);
}

/* Form Popup Styles -- mobile */
.form-popup__bar {
  display: none;
}

.form-popup__container {
  padding: 49px 15px 33px 15px;
}

.form-popup__info {
  font-family: "Prata", serif;
  color: var(--graphite);
  min-width: 250px;
  margin-right: 35px;
  margin-left: 35px;
}

.form-popup__info__tag {
  font-size: 45px;
  line-height: 60px;
  letter-spacing: 7.71px;
}

.form-popup__info__divider {
  display: flex;
  align-items: center;
  color: var(--rose);
  font-size: 65px;
  margin-top: -10.82px;
}

.form-popup__info__divider__text {
  padding-right: 6px;
  padding-left: 6px;
}

.form-popup__info__divider__line {
  border-bottom: 1px solid var(--light-gray);
  width: 100%;
  transform: translateY(-7px);
}

.form-popup__info__deal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: -32px;
  z-index: -1;
}

.form-popup__info__deal__text-twenty {
  grid-row: span 2;
  align-self: center;
  font-size: 144px;
}

.form-popup__info__deal__text-percent {
  font-size: 70px;
  padding-left: 6px;
  align-self: end;
  transform: translateY(-6px);
}

.form-popup__info__deal__text-off {
  font-size: 23px;
  padding-left: 6px;
  align-self: start;
  transform: translateY(-30px);
}

.form-popup__form {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

#form-popup__form__email {
  display: block;
  border: none;
  border-bottom: 3px solid var(--graphite);
  padding-bottom: 12.5px;
  margin-top: -13.19px;
  text-align: center;
  width: 100%;
  font-weight: bold;
  z-index: 1;
}

#form-popup__form__email::placeholder {
  color: var(--graphite);
  letter-spacing: 3px;
}

#form-popup__form__email:focus::placeholder {
  color: transparent;
}

#form-popup__form__sign-up {
  background-color: #ffffff;
  outline: 1px solid var(--rose);
  border: none;
  color: var(--rose);
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  font-weight: bold;
  letter-spacing: 3px;
  margin-top: 30.5px;
  cursor: pointer;
}

#form-popup__form__sign-up:hover,
#form-popup__form__sign-up:focus {
  color: #ffffff;
  background-color: var(--rose);
}

/* Confirm Popup Styles -- mobile */
.confirm-popup__container {
  padding: 37px 40px 45px 40px;
}

.confirm-popup__heading {
  font-family: "Prata", serif;
  font-size: 50px;
  letter-spacing: 10px;
  line-height: 1.32;
}

.confirm-popup__divider {
  display: flex;
  align-items: center;
}

.confirm-popup__divider > * {
  margin-right: 5px;
}

.dot-small {
  height: 9px;
  width: 9px;
  background-color: var(--light-gray);
  border-radius: 50%;
  display: inline-block;
}

.dot-large {
  height: 14px;
  width: 14px;
  background-color: var(--light-gray);
  border-radius: 50%;
  display: inline-block;
}

.confirm-popup__divider__line {
  width: 100px;
  display: inline-block;
  border-bottom: 1px solid var(--light-gray);
}

.confirm-popup__statement {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.7px;
  margin: 24px 0 27px 0;
}

.confirm-popup__link {
  font-family: "PT Sans", sans-serif;
  display: inline-block;
  outline: 1px solid var(--rose);
  color: var(--rose);
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 3px;
  width: 100%;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.confirm-popup__link:hover,
.confirm-popup__link:focus   {
  color: #ffffff;
  background-color: var(--rose);
}

.confirm-popup__link:focus {
  outline: 1px dotted #212121;
  outline: 5px auto -webkit-focus-ring-color;
}

/* =============== MOBILE STYLES =============== */

@media (min-width: 800px) {
  /* Universal Popup Styles -- large screen */
  .popup {
    min-width: 680px;
    position: relative;
  }

  .close-button {
    top: 14px;
    right: 22px;
  }

  /* Form Popup Styles -- large screen */
  .form-popup__container {
    padding-top: 78px;
    padding-bottom: 78px;
  }

  .form-popup__info {
    display: flex;
    width: 580px;

    /* justify-content: center; */
  }

  .form-popup__info__tag {
    font-size: 65px;
    letter-spacing: 13px;
    line-height: 86px;
    border-left: 1px solid var(--light-gray);
    padding-left: 40px;
  }

  .form-popup__info__divider {
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin-left: -20px;
    margin-top: none;
  }

  .form-popup__info__divider__text {
    font-size: 65px;
  }

  .form-popup__info__divider__line {
    border: none;
    border-left: 2px solid var(--light-gray);
    height: 27.65%;
    width: 2px;
    padding-right: 8px;
    transform: none;
  }

  .form-popup__info__deal {
    margin: 0;
    margin-left: -10px;
  }

  .form-popup__info__deal__text-twenty {
    font-size: 167px;
    grid-row: span 2;
  }

  .form-popup__info__deal__text-percent {
    font-size: 82px;
  }

  .form-popup__info__deal__text-off {
    font-size: 28px;
    transform: translateY(-35px);
  }

  .form-popup__form {
    position: absolute;
    display: flex;
    align-items: flex-end;
    bottom: 100px;
    right: 55px;
  }

  .form-popup__bar {
    position: absolute;
    display: inline-block;
    border-right: 1px solid var(--rose);
    left: 50px;
    z-index: 1;
  }

  .form-popup__bar--top {
    height: 90px;
  }

  .form-popup__bar--bottom {
    height: 100px;
    bottom: 0px;
  }

  #form-popup__form__email {
    margin: none;
    width: 180px;
    text-align: left;
    margin-right: 10px;
  }

  #form-popup__form__sign-up {
    outline: none;
    border-bottom: 3px solid var(--rose);
    color: var(--rose);
    padding-top: none;
    padding-bottom: 13px;
    width: 93px;
    font-weight: bold;
    letter-spacing: 3px;
    margin: none;
    cursor: pointer;
  }

  #form-popup__form__sign-up:hover {
    color: var(--rose);
    background-color: #ffffff;
    opacity: 0.7;
  }

  #form-popup__form__sign-up:focus {
    outline: 1px dotted #212121;
    outline: 5px auto -webkit-focus-ring-color;
  }

  /* Confirm Popup Styles -- large screen */
  .confirm-popup__container {
    padding: 100px 80px 98.5px;
  }

  .confirm-popup__heading {
    font-size: 65px;
    letter-spacing: 13px;
    padding-top: 0;
    line-height: normal;
  }

  .confirm-popup__statement {
    line-height: normal;
    letter-spacing: 0.7px;
    margin: 19px 0 42px 0;
  }

  .confirm-popup__link {
    width: 99px;
    font-weight: bold;
    outline: none;
    border-bottom: 3px solid var(--rose);
    padding: 0;
    padding-bottom: 8.5px;
  }

  .confirm-popup__link:hover {
    opacity: 0.7;
    color: var(--rose);
    background-color: white;
  }

  .confirm-popup__link:focus {
    outline: 1px dotted #212121;
    outline: 5px auto -webkit-focus-ring-color;
  }
}
