* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --graphite: #464646;
  --light-gray: #e9e9e9;
  --rose: #fd8c94;
}

body {
  background-color: darkgray;
}

.modal {
  background-color: #ffffff;
  width: 350px;
  margin: 0 auto;
  position: relative;
}

.bar {
  display: none;
}

.form-modal-container {
  padding: 49px 15px 33px 15px;
  /* position: relative; */
}

.modal__content {
  font-family: "Prata", serif;
  color: var(--graphite);
  margin-right: 35px;
  margin-left: 35px;
}

.modal__content__tagline {
  font-size: 45px;
  line-height: 60px;
  letter-spacing: 7.71px;
}

.modal__content__separator {
  display: flex;
  align-items: center;
  color: var(--rose);
  font-size: 65px;
  margin-top: -10.82px;
}

.modal__content__separator__text {
  padding-right: 6px;
  padding-left: 6px;
}

.modal__content__separator__line {
  border-bottom: 1px solid var(--light-gray);
  width: 100%;
  transform: translateY(-7px);
}

.deal__text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: -32px;
}

.deal__text__twenty {
  grid-row: span 2;
  align-self: center;
  font-size: 144px;
}

.deal__text__percent {
  font-size: 70px;
  padding-left: 6px;
  align-self: end;
  transform: translateY(-6px);
}

.deal__text__off {
  font-size: 23px;
  padding-left: 6px;
  align-self: start;
  transform: translateY(-30px);
}

.modal__form {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

#email {
  display: block;
  border: none;
  border-bottom: 3px solid var(--graphite);
  padding-bottom: 12.5px;
  margin-top: -13.19px;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

#email::placeholder {
  color: var(--graphite);
  letter-spacing: 3px;
}

#sign-up {
  background-color: #ffffff;
  outline: 1px solid var(--rose);
  border: none;
  color: var(--rose);
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  font-weight: bold;
  letter-spacing: 3px;
  margin-top: 30.5px;
  cursor: pointer;
}

#sign-up:hover,
#sign-up:focus {
  color: #ffffff;
  background-color: var(--rose);
}

.close-button {
  background-color: white;
  border: none;
  color: var(--light-gray);
  position: absolute;
  font-size: 26px;
  top: 12px;
  right: 18px;
  cursor: pointer;
}

.close-button:hover {
  color: var(--graphite);
}

@media (min-width: 800px) {
  .modal {
    width: 680px;
    position: relative;
  }

  .form-modal-container {
    padding-top: 78px;
    padding-bottom: 78px;
  }

  .modal__content {
    display: flex;
  }

  .modal__content__tagline {
    font-size: 65px;
    letter-spacing: 13px;
    line-height: 86px;
    border-left: 1px solid var(--light-gray);
    padding-left: 40px;
  }

  .modal__content__separator {
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin-left: -20px;
    margin-top: none;
  }

  .modal__content__separator__text {
    font-size: 65px;
  }

  .modal__content__separator__line {
    border: none;
    border-left: 2px solid var(--light-gray);
    height: 27.65%;
    width: 2px;
    padding-right: 8px;
    transform: none;
  }

  .deal__text {
    margin: 0;
    margin-left: -10px;
  }

  .deal__text__twenty {
    font-size: 167px;
    grid-row: span 2;
    /* align-self: center; */
  }

  .deal__text__percent {
    font-size: 82px;
    /* transform: none; */
    /* transform: translateY(-6px); */
  }

  .deal__text__off {
    font-size: 28px;
    transform: translateY(-35px);
  }

  .modal__form {
    position: absolute;
    display: flex;
    align-items: flex-end;
    bottom: 100px;
    right: 55px;
  }

  .bar {
    position: absolute;
    display: inline-block;
    border-right: 1px solid var(--rose);
    left: 50px;
    z-index: 1;
  }

  .bar--top {
    height: 90px;
  }

  .bar--bottom {
    height: 100px;
    bottom: 0px;
  }

  #email {
    margin: none;
    width: 180px;
    text-align: left;
    margin-right: 10px;
  }

  #sign-up {
    outline: none;
    border-bottom: 3px solid var(--rose);
    color: var(--rose);
    padding-top: none;
    padding-bottom: 13px;
    width: 93px;
    font-weight: bold;
    letter-spacing: 3px;
    margin: none;
    cursor: pointer;
  }

  #sign-up:hover,
  #sign-up:focus {
    color: #ffffff;
    background-color: var(--rose);
  }

  .close-button {
    top: 14px;
    right: 22px;
  }
}
